body {
  background-image: url("../images/backGround.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.fade-in {
  animation: fadeIn ease 0.5s;
}
.fade-in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
.fade-in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
.footer {
  background: rgb(138, 128, 128);
  background: linear-gradient(
    0deg,
    rgba(224, 224, 224, 1) 60%,
    rgba(138, 128, 128, 1) 100%
  );
}

.footer ul {
  border: 2px solid rgb(209, 205, 205);
  border-radius: 8px;
}

.footer li {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
