{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- JavaScript Bundle with Popper -->
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" {% static 'cssJs/base.css' %}" />
    <link rel="stylesheet" href=" {% static 'cssJs/bootstrap.min.css' %}" />
    <script src="{% static 'cssJs/jquery3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'cssJs/popper.min.js' %}"></script>
    <script src="{% static 'cssJs/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
      {% block script %}{% endblock  %}
    </script>
    <style>
      {% block css %}{% endblock  %}
    </style>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <span><img src="{% static 'icons/rss_fill.svg' %}" /></span>
          Navbar</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">DEV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../admin">ADMIN</a>
            </li>
          </ul>
          {% if name %}
          <span class="navbar-text"> {{ name }} </span>
          <span>
          <form method="POST" action="{% url 'logOut' %}" >
              {% csrf_token %}
              <button class="btn btn-danger ml-3">Log Out</button></span>
          </form>
          {% endif %}
        </div>
      </nav>
    </header>
    {% block body %}{% endblock %}
    <footer class="bg-light text-center text-lg-start mt-5">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              atque ea quis molestias. Fugiat pariatur maxime quis culpa
              corporis vitae repudiandae aliquam voluptatem veniam, est atque
              cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              atque ea quis molestias. Fugiat pariatur maxime quis culpa
              corporis vitae repudiandae aliquam voluptatem veniam, est atque
              cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-5"
        style="background-color: rgba(0, 0, 0, 0.2); height: 50px"
      ></div>
      <!-- Copyright -->
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>
