{% extends 'base.html' %} {% block script %} {% include './javaScript.js' %}
<!--<div></div>-->
{% endblock %} {% block css %} {% include './style.css' %} {% endblock %}
<!--<div></div>-->
{% block title %}Contest Partiaipant Page{% endblock%}
<!--<div></div>-->
{% load static %} {% block body %}
<div class="container" style="min-height: 80vh">
  <h1 id="headerPage" class="text-center mt-5 mb-5 fade-in">
    Contest for Register
  </h1>
  <!-- /card-container -->
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators custom-indicators">
          <li class="active item1"></li>
          <li class="item2"></li>
          <li class="item3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active custom-carousel">
            {% for data in unRegisContests %}
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">{{ data.Title }}</h5>
              </div>
              <div class="card-body">
                <div>{{ data.Description }}</div>
                <div class="mt-4">
                  <h6 class="card-subtitle text-muted">Time schedule:</h6>
                  <ul class="list-group mt-2">
                    <li class="list-group-item">
                      Time Register: {{ data.TimeRegister }}
                    </li>
                    <li class="list-group-item">
                      Time Start: {{ data.TimeStart }}
                    </li>
                    <li class="list-group-item">
                      Time End: {{ data.TimeEnd }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-footer">
                <a href="{% url 'register' id=data.id%}"
                  ><button class="btn btn-info float-right">Register</button></a
                >
                <a href="{% url 'status' id=data.id%}"
                  ><button class="btn btn-primary float-right mr-3">
                    See Status
                  </button></a
                >
                <a href="{% url 'standing' id=data.id%}"
                  ><button class="btn btn-success float-right mr-3">
                    See Standing
                  </button></a
                >
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="carousel-item custom-carousel">
            {% for data in regisContests %}
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">{{ data.Title }}</h5>
              </div>
              <div class="card-body">
                <div>{{ data.Description }}</div>
                <div class="mt-4">
                  <h6 class="card-subtitle text-muted">Time schedule:</h6>
                  <ul class="list-group mt-2">
                    <li class="list-group-item">
                      Time Register: {{ data.TimeRegister }}
                    </li>
                    <li class="list-group-item">
                      Time Start: {{ data.TimeStart }}
                    </li>
                    <li class="list-group-item">
                      Time End: {{ data.TimeEnd }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-footer">
                <a href="{% url 'start' id=data.id%}"
                  ><button class="btn btn-warning float-right">
                    Start Contest
                  </button></a
                >
                <a href="{% url 'status' id=data.id%}"
                  ><button class="btn btn-primary float-right mr-3">
                    See Status
                  </button></a
                >
                <a href="{% url 'standing' id=data.id%}"
                  ><button class="btn btn-success float-right mr-3">
                    See Standing
                  </button></a
                >
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="carousel-item custom-carousel">
            {% for data in historyContests %}
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">{{ data.Title }}</h5>
              </div>
              <div class="card-body">
                <div>{{ data.Description }}</div>
                <div class="mt-4">
                  <h6 class="card-subtitle text-muted">Time schedule:</h6>
                  <ul class="list-group mt-2">
                    <li class="list-group-item">
                      Time End: {{ data.TimeEnd }}
                    </li>
                  </ul>
                </div>
                <div class="mt-4">
                  <h5 class="card-subtitle text-muted">
                    Best Result: <span>{{ data.Result }}</span>
                  </h5>
                </div>
              </div>
              <div class="card-footer">
                <a href="{% url 'status' id=data.id%}"
                  ><button class="btn btn-primary float-right">
                    See Status
                  </button></a
                >
                <a href="{% url 'standing' id=data.id%}"
                  ><button class="btn btn-success float-right mr-3">
                    See Standing
                  </button></a
                >
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <a
          class="carousel-control-prev custom-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span><i class="bi bi-caret-left-fill"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next custom-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span><i class="bi bi-caret-right-fill"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
