{% extends 'base.html' %} {% block script %} {% include './javaScript.js' %}
<!--<div></div>-->
{% endblock %} {% block css %} {% include './style.css' %} {% endblock %}
<!--<div></div>-->
{% block title %}Sign Up{% endblock%}
<!--<div></div>-->
{% block body %}
<div class="container" style="min-height: 80vh">
  <h1 class="text-center mt-5">Sign Up Pages</h1>
  <div class="card card-container fade-in-left">
    <div class="card-body">
      <img
        id="profile-img"
        class="profile-img-card"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" method="POST" action="">
        {% csrf_token %}
        <span id="reauth-email" class="reauth-email"></span>
        <input
          type="text"
          id="inputName"
          class="form-control"
          placeholder="User Name*"
          required
          autofocus
          name="name"
        />
        <input
          type="text"
          id="inputEmail"
          class="form-control"
          placeholder="Email*"
          required
          autofocus
          name="email"
        />
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password*"
          required
          name="password"
        />
        <input
          type="password"
          id="inputConfirmPassword"
          class="form-control"
          placeholder="Confirm Password*"
          required
        />
        <button class="btn btn-primary btn-signin" id="btnSignUp" type="submit">
          Sign Up
        </button>
      </form>
      <!-- /form -->
      <a href="{% url 'login' %}" class="forgot-password"> Login </a>
      <p class="text-danger mt-3 font-weight-bold">{{ mess }}</p>
    </div>
  </div>
  <!-- /card-container -->
</div>
{% endblock %}
