{% extends 'base.html' %} {% block script %} {% include './javaScript.js' %}
<!--<div></div>-->
{% endblock %} {% block css %} {% include './style.css' %} {% endblock %}
<!--<div></div>-->
{% block title %}Contest Holder Pages{% endblock%}
<!--<div></div>-->
{% load static %} {% block body %}
<div class="container" style="min-height: 80vh">
  <h1 class="text-center mt-5 mb-5 fade-in">Contest Holder Pages</h1>
  <!-- /card-container -->
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      {% for data in dataContests %}

      <div
        class="card mb-4 fade-in-left"
        style="animation-delay: calc({{ forloop.counter0}} * 0.3s);"
      >
        <div class="card-header">
          <h5 class="card-title">{{ data.Title }}</h5>
          <h6 class="card-subtitle text-muted">Holder: {{ name }}</h6>
        </div>
        <div class="card-body">
          <div>{{ data.Description }}</div>
          <div class="mt-4">
            <h6 class="card-subtitle text-muted">Time schedule:</h6>
            <ul class="list-group mt-2">
              <li class="list-group-item">
                Time Register: {{ data.TimeRegister }}
              </li>
              <li class="list-group-item">Time Start: {{ data.TimeStart }}</li>
              <li class="list-group-item">Time End: {{ data.TimeEnd }}</li>
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a href="{% url 'detail' id=data.id %}"
            ><button class="btn btn-warning float-right">See Detail</button></a
          >
          <a href="{% url 'status' id=data.id%}"
            ><button class="btn btn-info float-right mr-3">
              See Status
            </button></a
          >
          <a href="{% url 'standing' id=data.id%}"
            ><button class="btn btn-success float-right mr-3">
              See Standing
            </button></a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-lg-3 col-sm-12 pb-4">
      <div class="card card-sidebar fade-in-right">
        <div class="card-body">
          <img
            id="profile-img"
            class="profile-img-card"
            src="{% static 'images/cat.jpg' %}"
          />
          <div class="text-center">
            <h6 class="card-subtitle text-muted mt-3">{{ name }}</h6>
            <a href="{% url 'create' %}"
              ><button class="btn btn-primary mt-3">
                Create A New Contest
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
